<?xml version="1.0" encoding="utf-8"?>
<manifest package="io.palaima.debugdrawer.app"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <application
        android:name="io.palaima.debugdrawer.debug.DebugApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:name,android:icon"
        />

</manifest>